@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #edf1f5;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    background-image: url("../images/logo.png");
    background-size: cover;
    background-position: center center;
    width: 5%;

    /* annimation */
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
}

.navbar-brand:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.username {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: end;
    padding-top: 11px;
    align-items: center;
}

@media (max-width: 991px) {
    .username {
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: start;
    }
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-collapse.collapse.in {
        /* NEW */
        display: block !important;
    }
}