{% extends "base.html.twig" %}
{% block title %}
	Erreur
{% endblock %}

{% block body %}

<div class="alert alert-danger" role="alert">
 Vous n'avez pas les droits suffisants pour acceder à cette page <a href="{{ BASE_URL }}" class="alert-link">Retour à l'accueil</a>
</div>
{% endblock %}